@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* @media screen(lg) { doesn't work... inv4.1 */
@media (min-width: 1020px) {
  .bg-hero {
    width: 2000px;
    height: 300px;
    left: 30%;
    @apply absolute rounded-l-full top-52 bg-[hsl(231,69%,60%)];
  }
  .bg-tabs {
    width: 2000px;
    height: 300px;
    right: 60%;
    @apply absolute rounded-r-full top-60 bg-[hsl(231,69%,60%)];
  }
}

.section-container {
  @apply max-w-6xl mx-auto text-center;
}

.section-title {
  @apply mb-8 text-4xl font-bold text-[hsl(210,10%,33%)] md:text-5xl;
}

.section-content {
  @apply max-w-3xl mx-auto mb-24 text-xl leading-9 text-center text-[hsl(210,10%,33%)];
}

.button-container {
  @apply flex flex-col justify-center w-full space-y-6 text-xl text-white md:flex-row md:space-y-0 md:space-x-4;
}

body {
  @apply bg-gray-100 text-gray-800 font-sans;
}

.ficon:hover {
  filter: invert(53%) sepia(68%) saturate(434%) hue-rotate(121deg)
    brightness(101%) contrast(94%);
}

.ficon2:hover {
  filter: invert(80%) sepia(37%) saturate(7048%) hue-rotate(132deg)
    brightness(105%) contrast(104%);
}

.ficon3:hover {
  filter: invert(53%) sepia(38%) saturate(3303%) hue-rotate(326deg)
    brightness(101%) contrast(96%);
}

/* to define custom classes, we should use @apply */
/* hambuger menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  background: #fff;
  transition: all 0.5s ease-in-out;
  left: 0px;
}

.hamburger-top {
  top: 0px;
}

.hamburger-middle {
  top: 50%;
  transform: translateY(-50%);
}

.hamburger-bottom {
  bottom: 0px;
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translate(5px, 5px);
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.open .hamburger-middle {
  opacity: 0;
}

.open .hamburger-bottom {
  bottom: auto;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
